// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;


$primary   : #166534;  // Verde institucional DSINTEG
$secondary : #0F4C81;  // Azul técnico
$accent    : #EAB308;  // Amarillo reciclaje

$positive  : #16A34A;  // Éxito
$negative  : #B91C1C;  // Error
$warning   : #D97706;  // Advertencia
$info      : #0284C7;  // Info

// Opcional neutros por si los usas en tus propios estilos
$dsinteg-bg        : #F1F5F9;
$dsinteg-card-bg   : #FFFFFF;
$dsinteg-border    : #CBD5E1;
$dsinteg-text-main : #0F172A;
$dsinteg-text-soft : #475569;
